.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.tab{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top :10px;
    padding :0;
}
body{
    margin :0;
    padding :0;
}

table-form{
    border : 1px solid black;
    
}
td{
    border: 1px solid black;
    background-color: cyan;
}
th{
    color: red;
    background-color: yellow;
    text-align: center;
}
input , select, textarea{
    background-color: rgb(99, 243, 154);
}
tr:nth-child(7), tr:nth-child(2),tr:nth-child(3),tr:nth-child(4) {
    text-align :center;
  }
tr:nth-child(8) {
  text-align :center;
}
tr:nth-child(9) {
    text-align :center;
}