.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orangered;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #dd924c;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .content {
    margin-left: 260px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  .layout{
    display: flex;
	flex-direction: row;
	height: auto;
	width: 100%;
	gap:30px;
	justify-content: space-around;
  }

  .box {
      height :150px;
      width :250px;
      background-color: orangered;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap:20px;
      text-align: center;
  }