th{
    background-color: orange;
}
tr:nth-child(13) > td {
    background-color: orange;
    /* display: flex; */
    justify-content: right;
}
table{
    background-color: black;
    color:yellow;
    outline: none;
    border :none;
    margin-top: 20px;
}
input[type = submit] {
    background-color : green;
    color: white;
    height: 30px;
    outline: none;
    border: none;
    margin-left: 330px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type = button] {
    background-color : red;
    color: white;
    height : 30px;
    border: none;
}
.error{
   color: red;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin : 0px 600px 0px 600px;
}
