table
{
	border: 5px solid grey;
}
td ,th
{
	border: 1px solid grey;
}
tr:nth-child(5) td:nth-child(2)
{
	text-align: center;
}
tr:nth-child(6) td
{
	background-color: rgb(224, 0, 0);
}
tr:nth-child(8) td
{
	background-color: rgb(11, 228, 11);
}